@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  --1: #fce8ae;
  --2: #324679;
  /* --2: #426A98; */
  --3: #ddb082;
  --4: #fff;
  --5: #fffce8;
  --6: #433469;
  --7: #79ccfc;
  /* --7: #a8bac5; */
  --8: #646464;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(var(--5), var(--7));
  /* background: linear-gradient(#061e37, #fff); */
  color: var(--2);
}

h1 {
  font-size: 3.5rem;
  text-align: center;
  color: var(--2);
}

h2 {
  color: var(--1);
}

.weather-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 2rem 0;
  border-radius: 1rem;
  background: linear-gradient(var(--7), var(--7));
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.temp-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  grid-gap: 4rem;
  padding: 3rem;
  margin: 1rem;
}

.current-temp {
  font-size: 2.5rem;
  align-items: flex-start;
  color: var(--4);
}

#current-temp {
  font-size: 4.5rem;
}

.weather-icon {
  width: 100%;
  height: 100%;
}

.wind-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.low {
  color: #061e37;
  margin-top: 2rem;
  font-size: 1.8rem;
}

.high {
  color: var(--4);
  margin-top: 2rem;
  font-size: 1.8rem;
}

@media (max-width: 700px) {
  h1 {
    font-size: 2.7rem;
    padding: 1rem 0;
  }
  
  .weather-container {
    width: 93%;
    /* height: 70%; */
    padding: 1rem;
    margin: auto;
    gap: 0;
  }

  canvas {
    width: 100px;
    height: 100px;
  }

  .temp-container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: space-evenly;
    grid-gap: 1rem;
    padding: 1rem;
    margin: 0;
  }

  .temp-container > #weather-icon {
    margin-top: .5rem;
  }

  #current-temp {
    font-size: 3rem;
  }

  .current-temp {
    font-size: 2.5rem;
    align-items: center;
  }

  .wind-container {
    padding-bottom: 1rem;
  }

  .low {
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  .high {
    font-size: 1.5rem;
    margin-top: 0;
  }
}